body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 50px;
    font-weight: bold;
  }
  
  .move-icon {
    height: 50px;
  }
  
  .move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .result {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
  }
  .moves{
    font-size: 30px;
    font-weight: 500;
  }
  
  .score {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  .reset-score-button,
  .auto-play-btn {
    
    background-color: white;
    border: none;
    font-size: 30px;
    padding: 10px 25px;
    cursor: pointer;
    margin-right: 20px;
  }

  
